@import url("@fontsource/montserrat/300.css");
@import url("@fontsource/montserrat/400.css");
@import url("@fontsource/montserrat/500.css");
@import url("@fontsource/montserrat/700.css");

@import url("./colors.css");

:root {
  --font-regular: 400;
  --font-bold: 700;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-regular);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--neutral-1000);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-bold);
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.625em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.125em;
}
