<template>
  <div class="main" v-html="text"></div>
</template>

<script setup lang="ts">
const route = useRoute();

definePageMeta({
  key: (route) => route.fullPath,
});

const { $renderMarkdown } = useNuxtApp();
let text;

try {
  text = $renderMarkdown(`./pages/${route.params.slug || "terms"}.md`);
} catch (err) {
  text = $renderMarkdown("./pages/404.md");
}
</script>

<style>
@import "~/assets/css";

.main {
  padding: 1rem;
}
</style>
